* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}
.bing {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.bing .logo {
    width: 154px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 137px;
}
.bing .logo .squares .top_l {
   fill: #f26522;
}
.bing .logo .squares .top_r {
    fill: #8dc63f;
}
 .bing .logo .squares .bom_l {
    fill: #00aeef;
}
 .bing .logo .squares .bom_r {
    fill: #ffc20e;
}
.bing .logo .squares .ms_text {
    fill: #FFF;
}
.bing .logo .squares .b_text {
    fill: #FFF;
}


input:focus {
    outline: 0px;
}

.top-ber .con1 {
    position: absolute;
    top: 12px;
    left: 344px;
    vertical-align: middle;
}


.top-ber .con1 a:nth-child(1) {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-size: 13px;
    padding: 18px;
    cursor: pointer;
    transition: 0.1s;
}
.top-ber .con1 a:nth-child(1):hover {
    color: #FFF;
}
.top-ber .con1 a:nth-child(2) {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-size: 13px;
    padding: 13px;
    cursor: pointer;
    transition: 0.1s;
}
.top-ber .con1 a:nth-child(2):hover {
    color: #FFF;
}
.top-ber .con1 li:nth-child(1) {
    color: #FFF;
    font-size: 17px;
    letter-spacing: 3.5px;
    margin-left: 18px;
    position: absolute;
    top: -5px;
    left: 152px;
    cursor: pointer;
}


.top-ber .con2 a {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 243px;
}
.top-ber .con2 .radius {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 208px;
    cursor: pointer;
}
.top-ber .con2 .radius .ti-user {
    vertical-align: middle;
    margin-left: 7px;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
}
.top-ber .con2 i:nth-child(3) {
    color: #FFF;
    font-size: 22px;
    font-weight: lighter;
    position: absolute;
    top: 10px;
    right: 152px;
    cursor: pointer;
}

.search {
    margin-top: 128px;
    margin-left: 365px;
    width: 598px;
    position: relative;
}
.search input {
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0px;
    outline: 0px;
    padding: 12px 120px 12px 10px;
    font-size: 16px;
}

.search img {
    width: 24px;
    height: 24px;
    color: #00809d;
    position: absolute;
    top: 14px;
    right: 58px;
    cursor: pointer;
}

.search .icon_path {
    fill: #00809d;
}

.search svg:nth-child(2) {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 95px;
    cursor: pointer;
}

.search svg:nth-child(4) {
    fill: #00809d;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 18px;
    cursor: pointer;
}

.bing .buttons {
    position: absolute;
    bottom: 45px;
    right: 120px;

}
.bing .buttons .ti-location-pin  {
    color: rgb(223, 223, 223);
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 10px;
    vertical-align: middle;
}

.bing .buttons button:nth-child(2) {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    background-color: #242222;
}
.bing .buttons button:nth-child(2) a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    margin-left: 20px;
    vertical-align: top;

}
.bing .buttons button:nth-child(3) {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    background-color: #242222;
}
.bing .buttons button:nth-child(3) a {
    text-decoration: none;
    color: rgb(214, 214, 214);
    transition: 0.2s;
}
.bing .buttons button:nth-child(3) a:hover {
    color: #FFF;
}
.bing .buttons button:nth-child(4) {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    background-color: #242222;
}
.bing .buttons button:nth-child(4) a {
    text-decoration: none;
    color: rgb(158, 158, 158);
}





.bing .footer {
    width: 100%;
    height: 35px;
    background-color: #333333;
    position: absolute;
    bottom: 0px;
}
.footer .fot {
    position: absolute;
    top: 7px;
    left: 115px;
}
.footer .fot a {
    text-decoration: none;
    color: #666;
    font-size: 13px;
    padding: 0px 0px 0px 20px;
    cursor: pointer;
}
.footer .fot a:hover {
    text-decoration: underline;
}
.footer p {
    position: absolute;
    top: 8px;
    right: 136px;
    color: #666;
    font-size: 13px;
}