* {
    margin: 0px;
    padding: 0px;
    font-family: Larsseit,Helvetica Neue,Helvetica,Arial,sans-serif;
}
input:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.aol {
    width: 100%;
    height: 100vh;
}
.aol .logo {
    width: 100px;
    height: 26px;
    position: absolute;
    top: 18px;
    left: 16px;
}
.aol .logo img {
    width: 100px;
    height: 26px;
    cursor: pointer;
}
.Search {
    width: 650px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 290px;
}
.Search:after {
    content: ;
    display: block;
    clear: both;
}
.Search .search {
    float: left;
}   
.Search .search input {
    width: 545px;
    height: 40px;
    padding: 0 12px;
    font-size: 20px;
    border: 1px solid #000;
}  
.Search .but {  
    float: left;
}
.Search .but button {
    width: 100px;
    height: 40px;
    margin-left: 4px;
    cursor: pointer;
    background-color: #e81d82;
    color: #FFF;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: Larsseit,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.Search .but button:hover ,.Search .but button:focus{
    background-color: #ef62a8;
}


.nav {
    width: 180px;
    height: 38px;
    padding: 15px 0px 10px 0px;
    position: absolute;
    top: 10px;
    right: 0px;
    
}
.nav:after {
    content: ;
    display: block;
    clear: both;
}
.nav .user {
    width: 100px;
    height: 30px;
    float: left;
}
.nav .user .ico {
    float: left;
}
.nav .user .ico img {
    width: 18px;
}
.nav .user .txt  {
    float: left;
}
.nav .user .txt p {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
    font-weight: lighter;
}
.nav .mail {
    float: left;
    margin-top: 2px;
}
.nav .mail i {
    margin-left: 14px;
    font-size: 17px;
    transition: 1ms;
}
.nav .mail i:hover {
    color: #5cadff;
}
.navmenu {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

